<h2><%= @post.title %></h2>
<%= @post.body %>

<%= link_to 'Edit', edit_post_path(@post) %>

<% if current_user %>

  <h2>Add a Comment</h2>
  
  <%= form_for [@post, @post.comments.build] do |f| %>
    
    <%= f.label :title, "Name" %>
    <%= f.text_field :title %>
    
    <%= f.label :body %>
    <%= f.text_area :body %>  
    
    <%= f.submit "Submit" %>
    
  <% end %>
<% else %>
  <p>You must be logged in to leave a comment!</p>
<% end %>

<!--Show list of comments-->
<% if @post.comments.exists? %>
  <h2>Comments</h2>
  
  <% @post.comments.each do |comment| %>
    <p><%= comment.title %></p>
    <p><%= comment.body %></p>
  <% end %>
<% end %>